{%extends 'base.html'%} 
{% block content %}

<div class="container">

    <div class="row">
      {%if location%}
      
        <h2>Location: {{location.location}}</h2>
        <hr>
        {%else%}
           <h2>Category: {{category.category}}</h2>
           <hr>
        {%endif%}
      
    </div>

    <div class="row">
      {%if images%}

    {%for image in images%}
      <div class="modal fade" id="myModal-{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{ image.image_name }}</h4>
          </div>
          <div class="modal-body thumbnail">
            <img src="{{image.image.url}}" alt="{{ image.image_name }}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>

      <div class="col-md-3">        
        
           <div class="hovereffect thumbnail">
              <img class="img-responsive" src="{{image.image.url}}" alt="">
              <div class="overlay">
                 <h2>{{ image.image_name }}</h2>
                 <a class="info" href="#" data-toggle="modal" data-target="#myModal-{{image.id}}">View details</a>
              </div>
          </div>

      </div>
    {%endfor%}
    {%else%}
      {%if location%}
        <h2>No Images in this location yet!</h2>
      {%else%}
        <h2>No Images in this category yet!</h2>
      {%endif%}
    {%endif%}

    </div>
</div>
{% endblock %}