{%extends 'base.html'%}
{% block content%}
{% load static%}
<div class="jumbotron container-fluid" style="background:url(static/img/linus.jpg)no-repeat center cover;">
	<div class="container text-center" style="margin-left:00px;margin-top:0px">
		  <h2><strong>Welcome To The Real Unsplash</strong></h2>
		  <p>Beautiful, Free Pictures</p>
		   <form class="" role="search" action="{% url 'search_results' %}">

	          <div class="input-group">
	            <input type="text" class="form-control input-lg" placeholder="Search Image Title" name="search">
	            <div class="input-group-btn">
	              <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	            </div>

	            
	          </div>
	          <h4 class="text-left">Search by Category: {%for category in categories%}
			<a href="imagecategory/{{category.id}}" style="color:white">{{category.category}} </a>
			 
			{%endfor%}</h4>

	        </form>
		
	</div>
	
  
</div>
<div class="container">
	<div class="row">
		
		
		

		{%for image in images%}
						

	  <div class="modal fade" id="myModal-{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{ image.image_name }}</h4>
          </div>
          <div class="modal-body thumbnail">
            <img src="{{image.image.url}}" alt="{{ image.image_name }}">
            
          </div>
          <div class="container">
          	<p>Image Details</p>
            	<p>{{image.image_description}}</p>
            	
           </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
			<div class="col-md-3">				
				
			     <div class="hovereffect thumbnail">
			        <img class="img-responsive" src="{{image.image.url}}" alt="">
			        
			        
			        <div class="overlay">
			           <h2>{{ image.image_name }}</h2>
			          
			           <a class="info" href="#" data-toggle="modal" data-target="#myModal-{{image.id}}" >View details</a>
			          
			        </div>
			    </div>
			    <p> <a class="btn btn-sm btn-success" href="#" data-clipboard-text="http://localhost:8000{{image.image.url}}">Copy Image Link</a></p>
			    

			</div>
		{%endfor%}


	</div>
</div>
{%endblock%}
